@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.flex-container {
  margin-top: 25vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.row > h1 {
  text-align: center;
  font-size: 3vh;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo {
  width: 70vw;
}

.social-container {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-top: 10px;
}

.social-container > a > img:hover {
  opacity: 0.8;
}

.register-button {
  padding: 10px 50px 10px 50px;
  background-color: #b63427;
  border: 0;
  /* border-radius: 50px; */
  border-radius: 5px;
  letter-spacing: 3px;
  color: white;
  /* text-shadow: 0px 1px 50px #000000; */
  font-weight: bold;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  margin-bottom: 25px;
  opacity: 90%;
  font-size: large;
  box-shadow: 3px 3px 10px #434343;
}

.register-button:hover {
  background-color: #b63427;
  box-shadow: 5px 5px 10px #434343;
  color: #fff;
  transform: translateY(-4px);
}

/* Mobile */
@media (max-width: 760px) {
  .logo {
    width: 20rem;
  }
}
